.image1{
    background-color: grey;
    border-radius: 70px 70px 70px 70px;
    margin: 25px;
}

img{
    border-radius: 70px 70px 70px 70px;
}

h3{
    background-color: white;
    border-radius: 70px 70px 70px 70px;
}



b{
    color: green;
}
